<div *ngFor="let cate of categories" style="margin-bottom: 20px;">
    <table border="1" style="border-collapse: collapse; width: 600px;">
      
      <tr>
        <td>Ma Danh Muc</td>
        <td>Ten Danh Muc</td>
      </tr>
      <tr>
        <td>{{ cate.Cateid }}</td>
        <td>{{ cate.CateName }}</td>
      </tr>
  
      <tr>
        <td colspan="2" style="padding: 5px;">
          
          <table border="1" style="border-collapse: collapse; width: 100%;">
            <tr>
              <th>Ma San Pham</th>
              <th>Ten San Pham</th>
              <th>Gia San Pham</th>
              <th>Picture</th>
            </tr>
            
            <tr *ngFor="let p of cate.Products">
              <td>{{ p.ProductId }}</td>
              <td>{{ p.ProductName }}</td>
              <td>{{ p.Price }}</td>
              <td style="text-align: center;">
                <img [src]="p.Image" width="50" height="50" alt="{{ p.ProductName }}">
              </td>
            </tr>
          </table>
  
        </td>
      </tr>
    </table>
  </div>